<style>
    .cardWarpper{
        background-color: white;
    }
</style>
<div class="cardWarpper">
    <div class="CardTitle">
        מקטע 5
    </div>
    <div class="CardDetails">100</div>
</div>
