<html>

<head>
    <!--
        https://medium.com/@noufel.gouirhate/build-a-simple-chat-app-with-node-js-and-socket-io-ea716c093088xc
        https://hmh.engineering/experimenting-with-apache-kafka-and-nodejs-5c0604211196
        https://www.sitepoint.com/using-redis-node-js/
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
        function initSocket() {
            //socket is global
            socket = io.connect();
            alert("connected");
        }
        function sendMessage(total) {
            socket.emit("totalWaitingCalls", { totalWaiting: total });
        }
    </script>
    <script>
        function startListen()
        {
            alert("Start Listen for Entering Cars events"); // WHY NOT REACHING HERE when clicking the button?
            //var form = document.getElementById('form');
            // form.addEventListener('startListen', function(e) 
            // {
            //     alert("start listening event listener is on") // Why Don't Reach here?!
            //     e.preventDefault();

            // });
            var table = document.getElementById('confusionMatrixTable');
            socket.on('new car', function(predicted) // when clicking listen button we listening to new car event                         
            {         
                alert(" new car event accured !");                              // and should update the confusion matrix
                console.log(predicted); //containd json of pred and actual sections
                const obj = JSON.parse(predicted);
                //obj.predicted; obj.actual;
                // predicted: {predicted:pred,actual:section}
                // need to ++ the confusion matrix table in col: predicted, and row: actual ++
                table.rows[obj.actual].cells[obj.predicted].innerHTML = ++parseInt(table.rows[obj.actual].cells[obj.predicted].innerHTML);
            });
        }
    </script>
    <script>
        function ResetValues()
        {
            alert("HERE");
            var table = document.getElementById('confusionMatrixTable');
            for (var r = 1, n = table.rows.length; r < n; r++) 
            {
                for (var c = 1, m = table.rows[r].cells.length; c < m; c++) 
                {
                    table.rows[r].cells[c].innerHTML = 0;
                }
            }
        }

        function CheckAccuracy() 
        {
            alert("Entered CheckAccuracy func");
            var table = document.getElementById('confusionMatrixTable');
            var totalPredictions = 0;
            var CurrectPredictions = 0; // The diagonal of matrix
            for (var r = 1, n = table.rows.length; r < n; r++) 
            {
                for (var c = 1, m = table.rows[r].cells.length; c < m; c++) 
                {
                    totalPredictions += parseInt(table.rows[r].cells[c].innerHTML);
                    if (r == c) // diagonal: predicted = actual
                    {
                        CurrectPredictions += parseInt(table.rows[r].cells[r].innerHTML) // r = c
                    }
                }
            }
            var accuracy = CurrectPredictions / totalPredictions;
            alert("accuracy is: " + accuracy) 
            socket.emit("accuracy", accuracy); // maybe just console log accuracy?
        }

        function deleteRow(row) {
            var i = row.rowIndex;
            document.getElementById('confusionMatrixTable').deleteRow(i);
        }


    </script>
</head>

<body onload="initSocket()">
    Actual Leave Section:
    <input type="button" value="Set" onclick="sendMessage(total.value)" />
    &nbsp;
    <hr>
    <form id="form" action="">
        <table id="confusionMatrixTable" border="1" style="background-color: burlywood; margin-left: auto; margin-right: auto; width: 80%; height: 70px; text-align: center;">
            <caption>Predicted Section</caption>
            <tr>
                <td rowspan="6" style="width: 15%;">Actual Leave Section:</td>
                <th> </th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
            </tr>
            <tr>
                <th>1</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>2</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>3</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>4</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>5</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>
        <button type="submit">שלח</button>
        <input type="button" id="startListen" onclick="startListen()" value="Start Listen" style="text-align: center; " />
        <input type="button" id="StopAndAcc" onclick="CheckAccuracy()" value="Show Accuracy" style="text-align: center; " />
</form>
</body>

</html>