<div class="mdc-card info-card info-card--success">
  <div class="card-inner">
    <h5 class="card-title">
      <%= section.SectionTitle %>
    </h5>
    <h5 class="font-weight-light pb-2 mb-1 border-top" id="<%= section.id %>">
      <%= section.Cars %>
    </h5>
    <div class="card-icon-wrapper">
      <i class="fas fa-car"></i>
    </div>
  </div>
</div>